/build
/lifeSimulator.layout
build
/OpenFlatland.layout
/OpenFlatland.depend

/.vscode/launch.json
/.vscode/c_cpp_properties.json
/include/gitinfo.hpp
/include/gitinfo.hpp
/OpenFlatland_gui.ini
/OpenFlatland_log.txt
